<!-- this page is the main body page for the academic part -->
<html lang="en">
    <body>
        <header>
            <% include ./partials/nav %>
        </header>
        <div class="hero-intro-container">
            <h2 class="course-title">Courses I've taken so far</h2>
            <div class="semester">
                <h4>Fall 2018</h4>
                <ul>
                    <li>CS 61A: Structure and Interpretation of Computer Program <a href="https://cs61a.org/">Link</a> <b>[A]</b></li>
                    <li>Math 53: Multivariable Calculus <b>[A-]</b></li>
                    <li>Stat 20: Intro to Statistics and Probability <b>[A+]</b></li>
                    <li>NUSCTX 10: Intro to Nutrition <b>[Breadth]</b></li>
                    <li>CS Decal: Ruby on Rails <a href="https://your.rails.world/semesters/11">Link</a></li>
                </ul>
            </div>
            <div class="semester">
                <h4>Spring 2019</h4>
                <ul>
                    <li>CS 61B: Data Structure <a href="https://sp19.datastructur.es/">Link</a> <b>[A+]</b></li>
                    <li>Math 54: Linear Algebra and Differential Equations <b>[A+]</b></li>
                    <li>Stat 134: Concepts of Probability <a href="http://www.stat134.org/index.html">Link</a> <b>[A+]</b></li>
                    <li>CS 70: Discrete Math and Probability Theory <a href="https://www.eecs70.org/">Link</a> <b>[A]</b></li>
                    <li>Berkeley Connect in History</li>
                </ul>
            </div>
            <div class="semester">
                <h4>Summer 2019</h4>
                <ul>
                    <li>Anthropology R5B <b>[A+] Reading Requirement</b></li>
                    <li>CS 61C: Machine Structure <a href="https://cs61c.org/">Link</a> <b>[A]</b></li>
                </ul>
            </div>
            <div class="semester">
                <h4>Fall 2019</h4>
                <ul>
                    <li>CS 170: Efficient Algorithms and Intractable Problems <a href="https://cs170.org/">Link</a> <b>[A]</b></li>
                    <li>CS 188: Introduction to Artificial Intelligence <a href="https://inst.eecs.berkeley.edu/~cs188/fa19/">Link</a> <b>[A+]</b></li>
                    <li>Stat 135: Concepts of Statistics <b>[A]</b></li>
                    <li>Math 110: Linear Algebra <b>[A-]</b></li>
                </ul>
            </div>
            <div class="semester">
                <h4>Spring 2020</h4>
                <ul>
                    <li>CS 189: Introduction to Machine Learning <a href="https://people.eecs.berkeley.edu/~jrs/189/">Link</a> <b>[A+]</b></li>
                    <li>Stat 150: Stochastic Processes <b>[A]</b></li>
                    <li>Data 100: Principles and Techniques of Data Science <a href="http://www.ds100.org/">Link</a> <b>[A+]</b></li>
                    <li>Math 104: Introduction to Analysis <b>[P]</b></li>
                </ul>
            </div>
        </div>
    </body>
</html>

<style>
.course-title {
    color: #e01d13;
    text-align: center;
}
.semester {
    margin-top: 17px;
    margin-bottom: 17px;
}
</style>