<!DOCTYPE html>
<html lang="en">
    <body>
        <!-- views/partials/head.ejs -->
        <header>
            <% include ./partials/nav %>
            <link rel="stylesheet" href="../static/style.css">
        </header>
        <div class="hero-container">
            <div class="hero-background">
                <img src="https://i.pinimg.com/originals/de/01/e9/de01e97fcc0f0709bbfaadf1610b8bc6.jpg" class="hero-image"/>
            </div>
            <div class="container hero-text-container">
                <h1 class="hero-title">Hi, Star Li is here!</h1>
                <p class="hero-description">
                    I'm currently a Berkeley sophomore majoring in statistics and computer science.
                </p>
                <p class="hero-login-notice">
                    Find me in the following ways!
                </p>
                <ul class="list-inline link-collection">
                    <li class="list-inline-item">
                        <a href="https://github.com/listar2000" class="link">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://listar2000.github.io" class="link">
                            <i class="fas fa-book fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/lisida2000/" class="link">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:listar2000@berkeley.edu" class="link">
                            <i class="fas fa-envelope-open fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.zhihu.com/people/li-xiao-du-66" class="link">
                            <i class="fab fa-zhihu fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero-intro-container">
            <h1 class="about-title" id="aboutme">About Me</h1>
            <div class="row">
                <div class="col-sm-6 about-info">
                    <b style="font-size:23px">My</b>
                    name is Star Li (李思达), a UC Berkeley sophomore double majoring in stat & cs.
                    I'm a full-stack web developer and tutor in Berkeley Studnet Learning Center (see 
                    my list of projects on Github). My hobbies include running and soccer. My interest
                    area in statistics is probability theory. On Fall 2019 semester, I will be taking
                    CS 170 (theory), CS 188 (AI), Math 110 (Linear Algebra), and Stat 135 (Mathematical
                    Stat). You can check out my full academic list and CV here.
                </div>
                <div class="col-sm-6">
                    <img src="https://i.imgur.com/ulFDRRQ.jpg" class="img-fluid about-img">
                </div>
            </div>          
        </div> 
        <div class="hero-intro-container">
            <h1 class="academic-title" id="academics">Academics</h1>
            <div class="row">
                <div class="col-sm-12 about-info">
                    <b style="font-size:23px">Double</b>
                    majoring in statistics and computer science, my broad academic interest is in
                    using computer to manipulate and interact with data, which includes data analysis,
                    mining, and artificial intelligence. Over my freshman year at Berkeley, I've finished
                    all the lower-div CS courses as well as an upper-div stat course in probability with a
                    culmulative gpa of 3.97. You can see a full list of my courses 
                    <a class="academic-link" href="/academic">follow this link</a>.
                </div>
            </div>        
            <h1 class="academic-title" id="academics">Research</h1>
            <div class="row">
                <div class="col-sm-12 about-info">
                    <b style="font-size:23px">As</b>
                    an undergraduate researcher at both the 
                    <a class="academic-link" href="https://vivecenter.berkeley.edu/">FHL Vive Center for Enhanced Reality</a> 
                    and 
                </div>
            </div>      
        </div> 
        <div class="second-container">
            <div class="second-background">
                <p class="bottom-word" style="text-align: center">Made with ❤️ using nodeJS and Bootstrap</p>
            </div>
        </div>
    </body>
</html>
  
<script>
    // the navbar is none-static only in index page 
    $(function () {
        function scroll() {
            var top = 20;
            var scrollTop = $(window).scrollTop();
            console.log("scrolled...");
            if (scrollTop > top) {
                $('.navbar-splash').css('background-color', 'rgb(45, 61, 138)');
            }
            else {
                $('.navbar-splash').css('background-color', 'transparent')
            }
        }
        $(window).on('scroll', function() {
            scroll()
        });
    });
</script>